<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>$Title$</title>
</head>
<body>
    <form action="/member/test1">
        id:<input type="text" name="memberId"><br>
        <input type="submit">
    </form>
    <pre>


    </pre>
    <form action="/member/test2">
        id:<input type="text" name="memberId"><br>
        <input type="submit">
    </form>

    <a href="/member/test2/1234">link</a>

    <!-- -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
    <form action="/member/test2" id="test2">
        id:<input type="text" name="memberId"><br>
        <input type="button" onclick="btn_click();" value="제출">
    </form>

    <a href="/member/test2/1234">link</a>


    <script>
        function btn_click() {
            document.idInput.submit();
        }

    </script>
</body>
</html>